html{
    background-color: #181D31;
}
*{
    font-family:'Montserrat', sans-serif ;
    margin: auto 0px;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contBot{
    display: flex;
    justify-content: space-between;
}
.botAm{
    margin: 20px;
    padding: 10px;
    background-color:  #E6DDC4;
    border-radius: 10px;
    box-shadow: 2px 3px #678983;
    text-decoration: none;
    color: #181D31;
}
.imgFond{
    background-image: url(./imagenes/codigo.jpg);
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.texx{
    color: white;
    text-align: center;
    text-shadow: 2px 2px gray, 6px 6px black;
}
.cont{
    text-align: center;
    font-size: 40px;
    color:#678983;
    text-shadow: 2px 2px black;
}
.padTarj{
    display: flex;
    margin: 100px 0px;
    justify-content: space-around;
    width: 100%;
}
.tarje{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 380px;
    border: 5px solid #678983 ;
    align-items: center;
}
.animacionBoton:active{
    transform: translate(2px, 2px);
    box-shadow: none;
}
.imgTarj{
    width: 100%;
    margin: 0;
}
.botTarj{
    display: flex;
    background-color: #181D31;
    border-radius: 2px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px #678983;
    text-decoration: none;
    color: white;
}
.abrraAbj{
    height: 200px;
    background-color: #678983;
    display: flex;
    justify-content: space-between;

}
.imgAbj{
    width: 100px;
    padding: 20px;
}
.texHist{
    display: flex;
    padding: 70px 40px;
    justify-content: space-between;
}
.texHistTex{
    color: #E6DDC4;
    width: 40%;
}
.texHistTi{
    color: #678983;
    text-shadow: 2px 2px black;
    width: 60%;
    text-align: center;
    font-size: 40px;
}
.titVideo{
    text-align: center;
    font-size: 35px;
    color:#678983;
    text-shadow: 2px 2px black;
    margin: 8px;
}
.video{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pcBlanco{
    animation-name: animacionPc;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.pcOscuro{
    transform: translate(0,-100px);
    animation-name: animacionPcOscuro;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.videoPadre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.contVid{
    position: relative;
    padding: 5px;
    background-color: black;
}
.barraVideo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    border-radius: 8px;
    margin: 5px;
}
.botonVdideo1{
    margin: 8px;
    padding: 9px 28px;
    border-radius: 8px;
    box-shadow: 2px 3px #678983 ;
    background-color: #E6DDC4;
    color: #181D31;
    text-decoration: none;
}
.duraVid{
    color: #E6DDC4;
    margin-right: 5px;
}
.conArrastre{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.depocito{
    display: flex;
    width: 300px;
    height: 500px;
    justify-content: center;
    border: 2px solid black;
    background-color: gray;
}
.imgArras{
    padding: 10px;
}
.depocito:hover{
    background-color: rgb(42, 42, 42);
}
.botReini{
    display: flex;
    margin: auto;
    padding: 10px 100px;
}

@keyframes animacionPc {
    0%{
        opacity: 0;
        transform: translate(0, -100px);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes animacionPcOscuro {
    0%{
        opacity: 0;
        transform: translate(0, -100px);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }    
}